html, body, #map {
	margin: 0;
	width: 100%;
	height: 100%;
}

.olControlAttribution {
	bottom: 1px !important;
	font-size: 0.75em !important;
}

#builder {
	position: absolute;
	bottom: 1em;
	left: 1em;
	z-index: 20000;
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid black;
	padding: 0.5em 1em;
}

#builder ol {
	margin: 0px;
}

#builder label  {
	margin-left: 1em;
}

#builder input[type="text"] {
	margin-right: 1em;
	border: 1px dotted black;
	background-color: inherit;
}

#builder input[type="checkbox"],
#builder input[type="radio"]  {
	margin: 0 0 0.1em 1em;
	vertical-align: middle;
}

#builder input[type="checkbox"] + label,
#builder input[type="radio"] + label {
	margin-right: 1em;
	margin-left: 0px;
}

span.red {
	color: red;
}

span.strong,
span.strong a {
	font-weight: bolder;
	color: black;
}

span.light1,
span.light1 a {
	color: rgba(0, 0, 0, 0.7);
}

span.light2,
span.light2 a {
	color: rgba(0, 0, 0, 0.4);
}

#project-home_link,
#popup_link {
	position: absolute;
	display: inline-block;
	right: 3px;
}

#popup_link {
	top: 3px;
}

#project-home_link {
	bottom: 3px;
}
